@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@200;300;400;500;600;700;800&family=Roboto+Slab:wght@100&family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 1.2rem 1rem;
  border-bottom: solid 1px #e8e8e8;
}

.navbar .logoInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar img {
  width: 65px;
}

.navHeader {
  font-size: 1.3em;
  opacity: 0.8;
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(183, 72%, 37%);
}

.navHeader:hover {
  color: black;
}

.links {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  gap: 1rem;
  align-self: end;
}

.line {
  font-size: 22px;
}

.links a {
  color: hsl(183, 72%, 37%);
  text-decoration: none;
  font-size: 22px;
}

.links a:active,
.links a:focus {
  opacity: 0.5;
}

.border {
  padding: 1rem 1rem 1.2rem 1rem;
  border-bottom: solid 1px #e8e8e8;
}

.empty-profile-msg {
  font-size: 19px;
}

body {
  font-size: 12px;
  outline: none;
  text-decoration: none;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }

  .accountPic img {
    width: 40px;
  }

  .navBar {
    padding: 0.7rem 1.5rem;
  }
}

@media (min-width: 999px) {
  body {
    font-size: 25px;
  }

  .accountPic img {
    width: 50px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 30px;
  }
}
